BEDROCK_AWS_ACCESS_KEY_ID=
BEDROCK_AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
ELASTIC_URL=
ELASTIC_API_KEY=
TRANSLATE_AWS_ACCESS_KEY_ID=
TRANSLATE_AWS_SECRET_ACCESS_KEY=
BEDROCK_CHAT_MODEL_ID=
BEDROCK_EMBEDDING_MODEL_ID=
FINANCE_KB_INDEX=
HEALTHCARE_KB_INDEX=
FOOD_KB_INDEX=